<div class="container-login">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" [(ngModel)]="usuario.nomeDeUsuario" required>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" [(ngModel)]="usuario.senha" required>
      </div>
      <button type="submit">Entrar</button>
    </form>
    <p *ngIf="mensagemErro" class="mensagem-erro">{{ mensagemErro }}</p>
  </div>
  